django
djangorestframework
django-cors-headers
mongoengine
python-dotenv
ultralytics==8.2.0
mediapipe==0.10.11
numpy<2.0.0
opencv-python-headless
whitenoise
gunicorn
uvicorn
pymongo[srv]
certifi
werkzeug
PyJWT
deepface==0.0.92
tf-keras
tensorflow-cpu==2.15.0
pandas
flask
tqdm
requests
gdown
Pillow
